@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
*{

    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}
body{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}
header .logo{
    width: 50%;
}
header .logo img{
    width: 350px;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s ease;
    font-size: 1.2rem;
}
header .menu ul li a:hover{
    color: #156fc3;
}
header .menu-mobile{
    display: none;
}
header .btn-mobile{
    display: none;
}

/*===== Main Home =====*/

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

#home .container{
    width: 100%;
    height: 100vh;
}
#home .container .icons{
    width: 50px;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    position: fixed;
    z-index: 999;
}
#home .container .icons ion-icon{
    padding: 30px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
#home .container .icons ion-icon:hover{
    color: #156fc3;
}
#home  .container .whatsapp {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px;
    position: fixed;
    
    justify-content: end;
    align-items: end;
    
}
#home .container .whatsapp  ion-icon{
    padding: 5px 5px;
    font-size: 4rem;
    color: #fff;
    transition: 0.5s ease;
}
#home .container .whatsapp ion-icon:hover{
    color: #156fc3;
}
#home .container .title{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 70px;   
}
#home .container .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: 2px;
}
#home .container .title h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 3rem;
    padding: 30px;
}
#home .container .title h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 20px;
}

/*===== particlesjs =====*/

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
/*===== about =====*/


#section-about{
   
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-zone3{
    width: 100%;
    height: 100%;
    padding: 40px;
    
}
 .text-zone3 #header h1{
    margin-bottom: 15px;
    line-height: 1.5rem;
    color: #fff;
   

}
 .text-zone3 #header p{
    margin-bottom: 15px;
    line-height: 1.5rem;
    color: #fff;
 }


/*===== portfolio =====*/
#services .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#services .container input[type=radio]{
    display: none;
}
#services .container .card{
    position: absolute;
    width: 30%;
    height: 70%;
    left: 0;
    right: 0;
    margin: 130px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
}
#services .container .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#services .container .card h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 2rem;
    margin-top: 60px;
    text-align: center;
}
#services .container .card p{
    position: absolute;
    z-index: 9;
    width: 300px;
    color: #fff;
    margin-top: 200px;
    text-align: justify;
    font-size: 1rem;
}
#services .container .card button{
    position: absolute;
    z-index: 9;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;
    cursor: pointer;
}
#services .container .cards{
    position: relative;
    width: 100%;
    height: 100%;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#contact .container{
    width: 100%;
    height: 110vh;
    background-size: cover;
    transition: background 0.4s ease-in;
}
#contact .container .content-contact{
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#contact .content-contact .contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
#contact .content-contact .contact-left h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contact .content-contact .line1{
    width: 245px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact .content-contact form.form_contact .line2{
    width: 485px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact .content-contact .contact-left ion-icon{
    font-size: 2rem;
    padding: 20px 0;
}
#contact .content-contact .contact-left span{
    font-size: 1.2rem;
    padding: 5px 0;
}
#contact .content-contact form.form_contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}
#contact .content-contact form.form_contact h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contact .content-contact  form.form_contact input[id=email],
#contact .content-contact  form.form_contact input[id=names]{
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    z-index: 9;
    border-bottom-color: #fff;
    border-bottom:3px
}
#contact .content-contact form.form_contact textarea{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    padding: 15px 20px;
    z-index: 9;
    border-bottom-color: #fff;
    border-bottom:3px
}

#contact .content-contact form.form_contact input[id=btnSend]{
    padding: 5px 50px;
    color:white;
    font-size: 1rem;
    background: #156fc3;
    border-radius: 20px;
    z-index: 999;
    cursor: pointer;
    border: 0;
}
#contact .content-contact form.form_contact input[id=btnSend]:hover{
    background: #fff;
    color: #156fc3;
}
/*===== Ventana de errores  =====*/
 .modal_wrap{
    width: 100%;
    height: 100vh; 
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .mensaje_modal{
     background: #fff;
     box-shadow: 0 0 10px 0 rgba(195, 21, 21, 0.626);
     width: 400px;
     padding: 30px 20px 15px;
     z-index: 99999;
     border-radius: 20px;
     opacity: 0.8;
 }
    .mesaje_modal h3{
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     font-weight: 400;
    }
    .mesaje_modal h3:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #156fc3;
        margin-top: 10px 0px 15px;
       }
    .mesaje_modal p{
        font-size: 16px;
        color: #606060;
    }   
    .mensaje_modal p:before{
        content: '\f00d';
        font-family: FontAwesome;
        display: inline-block;
        color: #c31515;
        margin-right: 8px;
    }
    .mensaje_modal #btnClose{
        display: inline-block;
        padding: 3px 10px;
        margin-top: 10px;
        background: #c31515;
        color: #fff;
        border-radius: 20px;
        border: 2px solid #814141;
        cursor: pointer;
    }

/*===== Footer =====*/
footer{
    width: 100%;
    height: 80px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    position: relative;
    top: -80px;
}
footer a{
    color: rgb(12, 208, 234);
}


/*===== Resposive =====*/

@media screen and (max-width: 1280px){
    #home .container .icons ion-icon{
        font-size: 2rem;
    }

    #services .container .card h1{
        font-size: 3rem;
    }
    #services .container .card p{
        width: 280px;
        font-size: 1rem;
    }
}    

@media screen and (max-width: 1084px){
    
    header{
        background: none;
    }

    header .logo{
        width: 600px;
    }

    header .menu{
        display: none;
    }

    header .btn-mobile{
        display: block;
    }

    header .btn-mobile ion-icon {
        color: #fff;
        font-size: 3rem;
    }

    header .menu-mobile{
        display: block;
        width: 150px;
        height: 200px;
        box-shadow: 0 0 15px 0 rgba(21,111,195,0.5);
        position: fixed;
        top: 20px;
        border-radius: 10px;
        background: #156fc3;
        align-items: center;
        text-align: center;
    }

    header .menu-mobile ul{
        padding-right: 40px;
    }

    header .menu-mobile ul li{
        list-style: none;
        padding: 12px 0;
    }

    header .menu-mobile ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
   
    #home .container .icons{
        width: auto;
        height: 100%;
        display: flex;
        padding: 50px;
        position: fixed;
        align-items:end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #home .container .icons ion-icon{
        font-size: 2rem;
        padding: 7px 7px;
    }
    
    #home .container .title h1{
        font-size: 5rem;
        text-align: auto;
    }
    #home .container .title h2{
        font-size: 3rem;
        text-align: auto;       
    }
    #home .container .title h3{
        font-size: 1rem;
        text-align: auto;
    }

    /*===== about =====*/

    #about-section .container .title h1{
        font-size: 2rem;
        text-align: auto;
       
    }

    #about-section .container .title p{
        font-size: 0.9rem;
        text-align: auto;
        width: 100%;
    }
 
     /*===== services =====*/
    
    #services .container .card h1{
        font-size: 2rem;
    }
    #services .container .card p{
        width: auto;
        height: auto;
        padding: 10px;
        font-size: 0.8rem;
    }
 


     /*===== contact =====*/

    #contact .container{
        width: 100%;
        height: 110vh;
        background-size: cover;
        transition: background 0.4s ease-in;
    }
       
    #contact .content-contact .contact-left h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    #contact .content-contact .contact-right h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    #contact .content-contact .line1{
        width: 190px;
       
    }
    #contact .content-contact .line2{
        width: 360px;
        
    }

}

@media screen and (max-width: 768px){
   
    #home .container .icons{
        width: auto;
    }

    #home .container .title h1{
        text-align: center;
        font-size: 3rem;
        padding: 5px;
    }

    #home .container .title h2{
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
        letter-spacing: 15px;
    
    }

    #home .container .title h3{
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding: 5px;
    }

    #section-about{
        
        padding-left: 1.5rem;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
         

    #section-about .container .title h1{
        text-align: left;
        font-size: 1rem;
        letter-spacing: 3px;

    }

    #section-about .container .title p{
        width: 100%;
        margin-top: 30px;
    }
  
    
    #services .container .card{
        width: 250px;
        height: 500px;
    }
    #services .container .card h1{
        font-size: 1.5rem;
        padding: 15px;
    }
    #services .container .card p{
        padding: 15px;
        font-size: 0.8rem;
    }
    
   
    #contact .content-contact .line1{
        width: 190px;
       
    }
    #contact .content-contact .line2{
        width: 190px;
    }
    footer{
        font-size: 10px;
    }

}

@media screen and (max-width: 550px){

#contact .container .content-contact{
    
    width: 80%;
    height: 60vh;
    padding: 200px 0;
    
}
#contact .content-contact .contact-left{
    width: 50%;
}
#contact .content-contact .contact-left h1{
    font-size: 1rem;
    
}
#contact .content-contact .line1{
    width: 120px;
}
#contact .content-contact .line2{
    width: 120px;
}
#contact .content-contact .contact-left ion-icon{
    font-size: 1rem;
}
#contact .content-contact .contact-left span{
    font-size: 1rem;
}
#contact .content-contact .contact-right{
    width: 50%;
}
#contact .content-contact .contact-right h1{
    font-size: 1rem;
}
#contact .content-contact .contact-right input[type=email],
#contact .content-contact .contact-right input[type=text]{
    font-size: 0.8rem;
}
#contact .content-contact .contact-right textarea{
    font-size: 0.8rem; 
}

}
@media screen and (max-width: 412px){
   
    #home .container .icons ion-icon{
        font-size: 2rem;
        padding: 4px 4px;
    }

    #home .container .whatsapp  ion-icon{
        font-size: 3rem;
    }

    #home .container .title{
        width: 110%;
        height: 100vh; 
    }

    #home .container .title h1{
        font-size: 3rem;
        text-align: center;
    }

    #home .container .title h2{
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 10px;
    }

    #home .container .title h3{
        font-size: 1rem;
        text-align: center;
        letter-spacing: 4px;

    }
    #section-about{
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        
    }
     #section-about{
        
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
         

    #section-about .container .title h1{
        font-size: 0.8rem;
        letter-spacing: 3px;

    }

    #section-about .container .title p{
        width: 100%;
        margin-top: 30px;
    }
    #services .container .card h1{
        font-size: 1rem;
        margin-top: 40px;
    }
    #services .container .card p{
        width: 150px;
        font-size: 0.5rem;
        margin-top: 120px;
    }
    #services .container .card button{
        margin-top: 320px;
    }
    #services .container .card{
        width: 170px;
        height: 380px;
        margin: 30px;
    }
}


